body{
    padding: 0;
    margin: 0;

}

.container{
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    margin: 0;

    
}



.header{
    display: flex;
   
   align-items: center;
   justify-content: space-between;
   padding: 15px;
   height: 8vh;
   background: linear-gradient(135deg,rgb(152, 80, 182),black);
   
    
}

.main-content{
    min-height: 92vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    padding: 10px;
    column-gap: 15px;
    row-gap: 15px;
}

.main-content > * {
    background-color: rgb(160, 154, 154);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}


.header .add-button img{
    height: 48px;
    cursor: pointer;

}

